*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: "Roboto", Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
}

:root {
  --body-color: #1d1d1d;
  --main-color: #f1f1f1;
  --secondary-color: #bdbdbd;
  --accent-color: #29aae1;
  --form-inputs-color: #464646;
  --swiper-arrow-color: #ff1616;
  --swiper-navigation-color: #ff1616;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1245px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: 1245px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.heading-2 {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.18;
  }

  @media (min-width: 1245px) {
    font-size: 52px;
    line-height: 1.17;
  }
}

//=======buttons========//

.button-disabled {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  &:before {
    content: "";
    position: absolute;
    width: 160px;
    height: 40px;
    left: -7px;
    top: 8px;
    border: 2px solid var(--accent-color);
    border-radius: 2px;
    z-index: -1;
  }

  @media (min-width: 768px) {
    width: 200px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
    &:before {
      width: 200px;
      height: 52px;
    }

    &:hover {
      background-color: var(--accent-color);
      color: var(--main-color);
      transition: 0.2s;
    }

    &:hover:before {
      border: 2px solid var(--main-color);
      transition: 0.2s;
    }
  }
}

.card-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  margin-top: auto;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  background: var(--main-color);
  color: var(--accent-color);
  &:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
    transition: 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 40px;
    left: -7px;
    top: 8px;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    z-index: -1;
  }

  @media (min-width: 768px) {
    width: 180px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
    background: var(--body-color);
    color: var(--main-color);
    &:before {
      left: -7px;
      top: 8px;
      width: 180px;
      height: 52px;
      border: 1px solid var(--main-color);
    }
  }

  @media (min-width: 1245px) {
    width: 200px;
    height: 52px;
    font-size: 22px;
    line-height: 1.2;
    background: var(--body-color);
    color: var(--main-color);
    &:before {
      left: -7px;
      top: 8px;
      width: 200px;
      height: 52px;
      border: 1px solid var(--main-color);
    }
  }
}

//======= burger menu ======//

.backdrop {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  background-color: #4646463a;
  transition: 0.3s;
}
.is-hidden {
  transform: translateX(100%);
  transition: 0.3s;
}

.menu-wrapper {
  position: relative;
  padding: 100px 50px;
  width: 100%;
  height: 100%;

  background-color: var(--body-color);
  overflow: auto;
  @media (min-width: 768px) {
    max-width: 620px;
    padding: 180px 90px;
  }
}
.close-menu__btn {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media (min-width: 768px) {
    top: 20px;
    left: 20px;
  }
}
.close-icon {
  width: 30px;
  height: 30px;
  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }
}
.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.menu-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--main-color);
  &:hover {
    color: var(--accent-color);
  }
  &:hover .menu-list__btn {
    fill: var(--accent-color);
  }

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 1.17;
  }
}

.main {
  display: flex;
  position: relative;
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
  &:hover .menu-list__btn--develop {
    fill: var(--accent-color);
  }

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 1.17;
  }
}
.menu-list__link {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 1.17;
  }

  &:hover {
    color: var(--accent-color);
  }
}
.products-list {
  gap: 12px;
}
.products-link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--accent-color);

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 1.4;
    color: var(--main-color);
  }

  &:hover {
    color: var(--accent-color);
  }
}

.menu-list__btn {
  width: 20px;
  height: 10px;
  cursor: pointer;
  fill: var(--main-color);

  @media (min-width: 768px) {
    width: 30px;
    height: 16px;
  }

  &:hover {
    fill: var(--accent-color);
  }
}
.menu-list__btn--develop {
  width: 20px;
  height: 10px;
  cursor: pointer;
  fill: var(--main-color);

  @media (min-width: 768px) {
    width: 30px;
    height: 16px;
  }

  &:hover {
    fill: var(--accent-color);
  }
}

//=======extra classes======/

.rotate {
  transform: rotate(180deg);
  fill: var(--accent-color);
}
.hover {
  color: var(--accent-color);
}
.off {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  display: none;
}

// ========header ========
.header {
  position: sticky;
  top: 0;
  background-color: var(--body-color);
  z-index: 400;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 24px;
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: transparent;
  @media (min-width: 768px) {
    width: 48px;
    height: 40px;
  }
}
.logo-image {
  width: 32px;
  height: 40px;
  @media (min-width: 768px) {
    width: 72px;
    height: 65px;
  }
}

.hero-content {
  padding-top: 20px;
  padding-bottom: 450px;
  // background-image: url("../images/hero/_abstract.svg");
  background-image: url("../images/hero/hero-bgimage.svg");

  background-repeat: no-repeat;
  // background-position: 95% top;
  background-position: 0 325px;

  @media (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 173px;
    background-position: 100% top;
  }

  @media (min-width: 1245px) {
    padding-top: 120px;
    padding-bottom: 173px;
    background-position: 95% top;
  }
}

.hero-container {
  // position: relative;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    position: relative;
  }
}

.main-description__about {
  max-width: 696px;
}

.main-title {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 1.18;
  }

  @media (min-width: 1245px) {
    font-size: 60px;
    line-height: 1.16;
  }
}

.main-text__bottom {
  margin-top: 20px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    max-width: 352px;
    font-size: 14px;
  }
  @media (min-width: 1245px) {
    font-size: 20px;
  }
}

.main-text {
  margin-top: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    max-width: 352px;
    font-size: 14px;
  }
  @media (min-width: 1245px) {
    font-size: 20px;
  }
}

.main-description__links {
  margin-top: 16px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.main-description__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 1245px) {
    font-size: 28px;
    line-height: 1.17;
  }
}

.main-description__wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 4px;
  gap: 20px;
  flex-basis: auto;

  @media (min-width: 768px) {
    margin-top: 12px;
    gap: 20px;
  }

  @media (min-width: 1245px) {
    gap: 32px;
  }
}

.links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--accent-color);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.2;
  }

  @media (min-width: 1245px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.description-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 9px;
  line-height: 1.2;
  color: var(--secondary-color);

  @media (min-width: 768px) {
    font-size: 12px;
    line-height: 1.4;
  }
}
.hero-image {
  position: absolute;
  top: 60px;
  right: 50px;
  max-width: 620px;
  height: 790px;
}

//======= projects ========//

.pro-container {
  position: relative;
}
.section-projects {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 125px;
    padding-bottom: 60px;
  }
}
.projects-title {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media (min-width: 1245px) {
    margin-bottom: 40px;
  }
}

.card-main__text {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.18;
  color: var(--body-color);

  @media (min-width: 768px) {
    font-size: 28px;
  }

  @media (min-width: 1245px) {
    font-size: 32px;
    line-height: 1.18;
  }
}
.card-main__text--white {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 28px;
  }

  @media (min-width: 1245px) {
    font-size: 32px;
    line-height: 1.18;
  }
}
.card-list__text {
  margin-top: 20px;
}

.card-text__item {
  margin-top: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--body-color);
}
.card-text__item--white-text {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

//======contacts======//

.section-contacts {
  padding-top: 65px;
  padding-bottom: 120px;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
.contacts-form__wrapper {
  margin-right: auto;

  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.contacts-list {
  margin-top: 16px;
}
.contacts-list__item {
  margin-top: 8px;
  max-width: 370px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 768px) {
    margin-top: 14px;
  }

  @media (min-width: 1245px) {
    margin-top: 12px;
    font-size: 20px;
  }
}
.contacts-list__item > a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--main-color);

  @media (min-width: 1245px) {
    font-size: 20px;
  }
}
.contacts-form {
  display: flex;
  flex-direction: column;

  max-width: 488px;
  gap: 12px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}
.contacts-form__text {
  margin-top: 16px;
  font-family: "Inter";
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    margin-top: 0;
    font-size: 14px;
  }

  @media (min-width: 1245px) {
    font-size: 16px;
  }
}
.form-field {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 0 10px;
  height: 40px;
  background-color: var(--form-inputs-color);
  border: none;
  &:focus {
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    height: 32px;
  }
}

.form-input:not(:placeholder-shown),
.form-textarea:not(:placeholder-shown) {
  background: var(--main-color);
}

.form-textarea {
  overflow: auto;
  padding: 10px 10px;
  height: 100px;
  background-color: var(--form-inputs-color);
  border: none;
  resize: none;
  &:focus {
    background-color: var(--main-color);
  }

  @media (min-width: 768px) {
    height: 160px;
    margin-bottom: 32px;
  }
}

// footer

.footer-nav__list {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media (min-width: 768px) {
    width: 200px;
  }
}
.footer-container {
  position: relative;
  display: flex;
  gap: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2d2d2d;

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 150px;
    background-color: var(--body-color);
  }

  @media (min-width: 1245px) {
    position: relative;
    gap: 345px;
  }
}
.social-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.footer-nav__link:hover {
  color: var(--form-inputs-color);
}

.footer-nav__item > a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  text-transform: capitalize;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.2;
  }
}
.social-links__list {
  display: flex;
  gap: 12px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}
.footer-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    min-width: 180px;
    font-size: 14px;
  }

  @media (min-width: 1245px) {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
}

//====== slider styles======//

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.swiper-slide {
  transition: 1s;
}

.swiper-slide-active {
  transition: 1s;
  @media (min-width: 768px) {
    // transition: 0.5s;
    // transform: scale(1.4);
  }

  @media (min-width: 1245px) {
    position: absolute;
    top: -50px;
    transition: 1s;
  }
}

.swiper-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
}
.swiper-button-prev {
  margin-top: 0px;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  transform: translateX(-190%);
}
.swiper-button-next {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: -50px;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  transform: translateX(190%);
}
.slider-descktop__container {
  position: relative;

  @media (min-width: 768px) {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
.slider-__container {
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  // position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  @media (min-width: 768px) {
    height: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 1245px) {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 550px;
  }
}
.swiper-slide .slide-1 .slide-2 .slide-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 320px;
  }

  @media (min-width: 1245px) {
    width: 344px;
    height: 480px;
    padding: 40px;
  }
}
.swiper-wrapper .swiper-slide {
  @media (min-width: 768px) {
    height: 380px;
    opacity: 0.5;
  }

  @media (min-width: 1245px) {
    height: 480px;
    opacity: 1;
  }
}

.slide-1 {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  border-radius: 4px;
  background-image: linear-gradient(
      180deg,
      #55b7e1 0%,
      rgba(56, 163, 208, 0.1) 100%
    ),
    url("../images/swiper/slider-1.png");

  @media (min-width: 768px) {
    padding: 20px;
  }

  @media (min-width: 1245px) {
    padding: 40px;
  }
}
.slide-2 {
  display: flex;
  flex-direction: column;
  background: #2d2d2d;

  border-radius: 4px;

  @media (min-width: 768px) {
    padding: 20px;
  }

  @media (min-width: 1245px) {
    padding: 40px;
  }
}
.slide-3 {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;

  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      180deg,
      #49af2f 0%,
      rgba(87, 202, 59, 0.1) 100%
    ),
    url("../images/swiper/slider-3.png");

  @media (min-width: 768px) {
    padding: 20px;
  }

  @media (min-width: 1245px) {
    padding: 40px;
  }
}

.mobile {
  padding: 20px 30px;
  border-radius: 4px;
}

.slider-descktop__container .swiper .swiper-wrapper .swiper-slide-active {
  @media (min-width: 768px) {
    opacity: 1;
    transform: scale(1.1);
    z-index: 20;
  }
}

//======== products page =========//

.heading-1 {
  display: block;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-weight: 500;
    font-size: 60px;
    line-height: 1.16;
  }
}

.heading-2__logo {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    font-size: 52px;
    line-height: 1.17;
  }
}

//======== main ============//
.section-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 20px;
  gap: 17px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    gap: 32px;
  }
}
.section-content__leftside {
  padding-top: 16px;

  @media (min-width: 768px) {
  }

  @media (min-width: 1245px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.section-wrapper__secondary {
  padding-top: 20px;
  gap: 17px;
  @media (min-width: 768px) {
    display: flex;
    gap: 32px;
    padding-top: 80px;
    padding-bottom: 45px;
  }
}
.content-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  max-width: 592px;
  @media (min-width: 768px) {
  }
}
.logo-preview {
  display: flex;
  align-items: center;
  gap: 5px;

  @media (min-width: 768px) {
    gap: 5px;
    margin-top: 0px;
  }
}

.logo-progect {
  width: 52px;
  height: 32px;

  @media (min-width: 768px) {
    width: 100px;
    height: 60px;
  }
}
.product-image {
  width: 100%;
  height: auto;
  @media (min-width: 768px) {
    max-width: 590px;
    height: auto;
  }
}

.content-text {
  display: block;
  overflow: auto;
  height: 180px;
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--main-color);

  @media (min-width: 768px) {
    max-width: 352px;
  }

  @media (min-width: 1245px) {
    max-width: 592px;
  }
}
.bottom {
  padding-bottom: 60px;
  @media (min-width: 768px) {
  }

  @media (min-width: 1245px) {
    padding-top: 45px;
    padding-bottom: 120px;
  }
}
//=======
